.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem;
  height: 100vh;

  h2 {
    margin-bottom: 1.6rem;
  }

  .holiday-data {
    margin-top: 1.6rem;
  }
}
